/**
 * @license
 * Copyright 2026 Google LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 32px;
  gap: 12px;
  width: 400px;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  z-index: 99;
  outline: 0;
  pointer-events: none;
}

.toastContainer {
  pointer-events: auto;
  animation: toast-enter 0.25s ease-out;
  position: relative;

  @keyframes toast-enter {
    from {
      opacity: 0;
      height: 0;
      transform: translateY(8px);
    }

    to {
      opacity: 1;
      height: fit-content;
      transform: none;
    }
  }

  &.hidden {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    transform: translateY(8px);
  }
}

.toast {
  --border-color: var(--gray-9);
  --color-2: var(--gray-11);
  display: grid;
  grid-template:
    "icon message actions" auto
    "icon detail detail" auto /
    1fr auto;
  background-color: var(--gray-5);
  border-radius: var(--radius-3);
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  box-shadow:
    0 0 0 1px rgba(0 0 0 / 15%),
    0 3px 6px rgba(0 0 0 / 15%),
    0 0 0 1px rgba(255 255 255 / 10%) inset;
  color: #fff;

  &[data-status="error"] {
    background-color: var(--red-3);
    --border-color: var(--red-10);
    --color-2: var(--red-12);
  }

  &[data-status="success"] {
    background-color: var(--green-3);
    --border-color: var(--green-10);
    --color-2: var(--green-12);
  }
}

.icon {
  color: var(--color-2);
  grid-area: icon;
  place-self: center;
  margin-right: 12px;
}

.message {
  grid-area: message;
  font-size: 14px;
  line-height: 20px;
}

.detail {
  grid-area: detail;
  color: var(--color-2);
  font-size: 12px;
  line-height: 16px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 2px 0 2px 20px;
  grid-area: actions;
}